doctype html
html(lang='en' itemscope itemtype='http://schema.org/ProfilePage')
  head
    meta(charset='utf-8')
    block title
      title Jascha Ehrenreich, Magically shifting paradigms

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')

    block meta
      meta(property='og:title' content='Online Catalogue for Litto\'s first exhibition')
      meta(property='og:image' content='http://a.litto.work/img/catalogue/01_all_in.jpg')
      meta(
        name='description'
        property='og:description'
        content='Expanding Borders. Exhibition, 04. 12. 2015, 17:00, Schwelle 7, Vienna, Austria'
      )

    block styles

  body.nojs
    block header-image

    div#wrapper
      block content
        div.content empty body content

    //script(src='/js/index.js')