doctype html
html(lang='en' itemscope itemtype='http://schema.org/ProfilePage')
  head
    meta(charset='utf-8')
    block title
      title Jascha Ehrenreich, Magically shifting paradigms

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')

    block meta
      meta(property='og:title' content='Jascha Ehrenreich: Programmer and Streetartist')
      meta(property='og:image' content='/img/jascha.ehrenreich.jpg')
      meta(
        name='description'
        property='og:description'
        content='i juggle with code since ten, with cones, balls and rings since twenty and life juggles with me since around thirty years. I enjoy all of it.'
      )

    block styles

  body.nojs
    block header-image

    div#wrapper
      block content
        div.content empty body content

    //script(src='/js/index.js')