extends ../layout

mixin imre-copy()
  p.fotos
    span Fotos by&nbsp;
    a(href='') Imre Antal

mixin riot-art(url)
  p.riot-art
    a(href=url target='utopia') buy on riot art

block title
  title litto.work - catalog

block header-image
  header.image
    img(src="/img/catalogue/header-image.jpg")

block content
  header.menu
    button#font-toggle remove font

  div.margin-wrapper
    section#all-in
      h1
        span EXPAND
        span.min -
        span.block ING
        span BORD
        span.min -
        span.block ERS

      h3.synopsis
        span.border
        | Just went out and found a path, explored physical and psychological limits,
        br
        |  then played with them.
        span.border

    section#all-in
      img(src="/img/catalogue/01_all_in.jpg")
      div
        h2 ALL IN
        h3 my self / alter ego

        div
          p.dimensions 150cm x 130cm
          p.description synthetic polymer on canvas
          p.date 2015
          +riot-art('http://www.riotart.co/shop/all-in-litto')
          +imre-copy()

    section#no-enemy-within
      img(src="/img/catalogue/02_no_enemy_within.jpg")
      div
        h2 NO ENEMY
        h3 within

        div
          p.dimensions 130cm x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

          +imre-copy()

    section#move
      img(src="/img/catalogue/03_move.png")
      div
        h2 Move
        h3 Those who move feel the rope

        div
          p.dimensions 150cm x 130cm
          p.description synthetic polymer on canvas
          p.date 2015

          +imre-copy()



    section#sin-carne
      img(src="/img/catalogue/04_sin_carne.png")
      div
        h2 Sin carne
        h3 à la carte

        div
          p.dimensions 100cm x 120cm
          p.description synthetic polymer on canvas
          p.date 2015

    section#reduced
      img(src="/img/catalogue/05_reduced.jpg")
      div
        h2 Reduced
        h3 &nbsp;&#8722;&nbsp;

        div
          p.dimensions 130cm x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

          +riot-art('http://www.riotart.co/shop/reduced-litto')

    section#the-man-who-sold-the-world
      img(src="/img/catalogue/06_the_man_who_sold_the_world.jpg")
      div
        h2 The man who sold the world
        h3 inspired by Kurt

        div
          p.dimensions 130cm x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

    section#all-out
      img(src="/img/catalogue/07_allout.png")
      div
        h2 All out
        h3 …

        div
          p.dimensions 100cm x 80cm
          p.description synthetic polymer on canvas
          p.date 2015

  section#work-in-progress
    h2 WORK IN PROGRESS

  section#studies
    h2 STUDIES