extends ../layout

mixin imre-link()
  a(href='http://imreantal.com'
    target='_blank') Imre Antal

mixin imre-copy()
  p.fotos
    span Photos by&nbsp;
    +imre-link()

mixin riot-art(url)
  p.riot-art
    a(href=url target='_blank') buy on riot art

block title
  title litto.work - catalog

block header-image
  header.image
    img(src='/img/catalogue/header-image.jpg')

block content
  div.margin-wrapper
    section#header
      h1
        span EXPAND
        span.min -
        span.block ING
        span BORD
        span.min -
        span.block ERS

      h3.synopsis
        span.border
        | Just went out and found a path, explored boundaries,
        br
        |  then played with them.
        span.border

    section#all-in
      img(src='/img/catalogue/01_all_in.jpg')
      div
        h2 ALL IN
        h3 my self / alter ego

        div
          p.dimensions 150 x 130cm
          p.description synthetic polymer on canvas
          p.date 2015
          +riot-art('http://www.riotart.co/shop/all-in-litto')

    section#no-enemy-within
      img(src='/img/catalogue/02_no_enemy_within.jpg')
      div
        h2 NO ENEMY
        h3 within

        div
          p.dimensions 130 x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

          +imre-copy()


    section#reduced
      img(src='/img/catalogue/05_reduced.jpg')
      div
        h2 Reduced
        h3 &nbsp;&#8722;&nbsp;

        div
          p.dimensions 130 x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

          +riot-art('http://www.riotart.co/shop/reduced-litto')

    section#the-man-who-sold-the-world
      img(src='/img/catalogue/06_the_man_who_sold_the_world.jpg')
      div
        h2 The man who sold the world
        h3 inspired by Kurt C.

        div
          p.dimensions 130 x 150cm
          p.description synthetic polymer on canvas
          p.date 2015

    section#all-out
      img(src='/img/catalogue/07_all_out.jpg')
      div
        h2 All out
        h3 …

        div
          p.dimensions 100 x 80cm
          p.description synthetic polymer on canvas
          p.date 2015

    section#pepper
      img(src='/img/catalogue/pepper.jpg')
      div
        h2 Pepper
        h3 A woman hot like pepper

        div
          p.dimensions 100 x 80cm
          p.description synthetic polymer on canvas
          p.date 2015

  section#icedfruits
      img(src='/img/catalogue/iced_fruits.jpg')
      div
        h2 Iced fruits
        h3 melting point

        div
          p.dimensions 80 x 60cm
          p.description synthetic polymer on canvas
          p.date 2015
          p.sold sold
          
  section#unpacked
      img(src='/img/catalogue/unpacked.jpg')
      div
        h2 Unpacked
        h3 selfconfident women

        div
          p.dimensions 100 x 80cm
          p.description synthetic polymer on canvas
          p.date 2015
          p.sold sold
          
     section#softmeat
      img(src='/img/catalogue/softmeat.jpg')
      div
        h2 Soft meat
        h3 for dinner

        div
          p.dimensions 100 x 120cm
          p.description synthetic polymer on canvas
          p.date 2015
          
    section#work-in-progress
      div
        h3 work in progress

        img(src='/img/wip/work_in_progress.gif')

    section#studies
      div
        h3 studies

        div.imgs
          img(src='/img/studies/01_glitch.jpg')
          img(src='/img/studies/02_glitch.jpg')
          img(src='/img/studies/03_glitch.jpg')
          img(src='/img/studies/04_glitch.jpg')
          img(src='/img/studies/05_glitch.jpg')
          img(src='/img/studies/07_glitch.jpg')
          img(src='/img/studies/11_glitch.jpg')
          img(src='/img/studies/12_glitch.jpg')
  
  
  section#impressum
    h3 Impressum

    h4 Expanding Borders

    h4 Location
    p Schwelle 7
    p Rotenlöwengasse 12 2+3
    p 1090 Wien

    h4 Artist / Design
    p Daniela Weiss

    h4 Photography
    p
      +imre-link()

    h4 Programming
    p Jascha Ehrenreich

  footer.main
    div.copy
      span &copy; 2015&nbsp;
      a(href='http://www.litto.work' target='utopia') Litto, Daniela Weiss
